section {
    height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2);
            grid-template-areas: 
            "box1 box2 box3"
            "box4 box5 box6"
             ;
}
.box {
    /* border: 1px solid #333; */
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}
.item {
    height: 50vh;
    margin: 0 auto;
    display: block;
}


.box .mask {
	width: 100%;
	height: 80px;
	/* overflow: hidden; */
	background: linear-gradient(270deg, rgba(217, 36, 40, 1) 20%, rgba(0,0,0,1) 100%);
	cursor: pointer;
}

.box:hover .mask {
	transform: translateY(-100%);
	transition: all 0.4s ease-out 0.2s;
}
	
.mask h4 {
    color: #fff;
    padding: 20px 0 20px 50px;
    font-size: 20px;
    /* float: left; */
    line-height: 40px;
    display: inline-block;
}
.mask p {
    color: #fff;
    padding-left: 50px;
}
.mask button {
    margin: 53px 50px 0 0;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 500px;
    color: rgba(255, 255, 255, 0.748);
    font-size: 16px;
    float: right;
    cursor: pointer;
    
}


#img01 {
    background: url(../img/t1.png) no-repeat 0px 0px;
    background-size: cover;
    grid-area: box1;
}
#img02 {
    background: url(../img/t2.png) no-repeat 0px 0px;
    background-size: cover;
    grid-area: box2;
}
#img03 {
    background: url(../img/t3.jpeg) no-repeat -40px 0px;
    background-size: cover;
    grid-area: box3;
}
#img04 {
    background: url(../img/t4.png) no-repeat 0px -145px;
    background-size: cover;
    grid-area: box4;
}
#img05 {
    background: url(../img/t5.png) no-repeat 0 0px;
    background-size: cover;
    grid-area: box5;
}
#img06 {
    background: url(../img/t6.png) no-repeat;
    background-size: cover;
    grid-area: box6;
}

