body {
    background: url(../img/select.png) repeat;
    background-size: 20%;
}
section {
    width: 100%;
    height: 100vh;
    padding-top: 6%;
}
#beer {
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    background: url(../img/s2.png) no-repeat;
    background-size: contain;
}