body {
    background: black;
}
section {
    width: 1320px;
    height: 100vh;
    /* background-color: #eee; */
    margin: 0 auto 300px;
    padding: 150px 50px;
    /* border: 1px solid yellow; */
}
article {
    /* border: 1px solid blue; */
    margin-bottom: 15px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    /* border: 1px solid rgb(244, 9, 9); */
}
.box {
    width: 25%;
    height: 350px;
    /* display: flex; */
    justify-content:space-between;
    float: left;
    margin-right: 10px;
    /* border: 1px solid red; */
    background-color: #fff;
}
.box:last-of-type {
    float: right;
    margin: 0;
}
.box:hover {
    background-color: rgb(237, 207, 86);
}
.item {
    width: 80%;
    height: 70%;
    margin: 20px auto 0;
    /* border: 1px solid black; */
}
.box h3 {
    color: black;
    margin: 20px 0 0 20px;
    font-size: 20px;
}
.box p {
    font-size: 16px;
    /* border: 1px solid blue; */
    color: rgb(254, 6, 6);
    margin: 7px 20px;
}

#img01 {
    background: url(../img/sale_01.webp) no-repeat;
    background-size: contain;
}
#img02 {
    background: url(../img/sale_02.webp) no-repeat;
    background-size: contain;
}
#img03 {
    background: url(../img/sale_03.webp) no-repeat;
    background-size: contain;
}
#img04 {
    background: url(../img/sale_04.png) no-repeat;
    background-size: contain;
}

#img05 {
    background: url(../img/sale_05.webp) no-repeat;
    background-size: contain;
}
#img06 {
    background: url(../img/sale_06.png) no-repeat;
    background-size: contain;
}
#img07 {
    background: url(../img/sale_07.png) no-repeat;
    background-size: contain;
}
#img08 {
    background: url(../img/sale_08.webp) no-repeat;
    background-size: contain;
}

.more {
    width: 100%;
    padding: 18px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}

.more:hover {
    background-color: #FFF;
    color: black;
}